---
title: Personas - Trading Cards
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <h1>Available Cards</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <% data.personas.persona.each do |p| %>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="well">
          <%= image_tag p.img, class: "img-responsive" %>
          <h2 class="card-heading"><%= p.title %></h2>
          
          <p><%= p.quote %></p>
          
          <%= link_to "Full Persona", p.slug + ".html" %>
         
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>