footer {
  
  color: $brand-white;
  background-color: $brand-primary;
  padding: 30px 5px;
  border-top: 5px solid darken($brand-primary, 10%);
  
  a {
    
    color: $brand-white;
  
    &:hover {
      
      color: darken($brand-white, 8%);
      
    }
    
  }
  
  
  p {
    
    margin: 0px;
    
  }
  
}