footer {
  
  color: $brand-white;
  background-color: $brand-secondary;
  padding: 30px 0px;
  border-top: 5px solid darken($brand-secondary, 10%);
  
  a {
    
    color: $brand-white;
  }
  
  
  p {
    
    margin: 0px;
    
  }
  
}