.well {
  
  background-color: #fff;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #F0EFEF;
  
}

.well-primary {
  
  border-top: 5px solid $brand-primary;
  
}

.well-strong {
  
  border-top: 5px solid $gray;
  
}