.list-unstyled {
  
  font-size: 17px;
  
}

.persona-heading {
  
  margin-left: 5px;
  
}

.brand-lead {
  
  color: $brand-primary;
  
}

.card-heading{
  
  font-size: 25px;
}

h3 {
  
  background-color: $brand-primary;
  width: 300px;
  padding: 8px;
  margin-left: -20px;
  color: $brand-white;
  margin-top: 0px;
  
}