<header class="<%= page_classes %>">
  <div class="container">
    <div class="row">
      <h1 class="persona-heading" id="top"><%= persona['title'] %></h1>
    </div>
  </div>
</header>

<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Index</a></li>
    <li class="active"><%= persona['title'] %></li>
  </ol>
</div>